[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ccaPP"]
	path = ccaPP
	url = https://github.com/aalfons/ccapp
[submodule "laeken"]
	path = laeken
	url = https://github.com/aalfons/laeken
[submodule "perry"]
	path = perry
	url = https://github.com/aalfons/perry
[submodule "perryExamples"]
	path = perryExamples
	url = https://github.com/aalfons/perryexamples
[submodule "r2spss"]
	path = r2spss
	url = https://github.com/aalfons/r2spss
[submodule "robmed"]
	path = robmed
	url = https://github.com/aalfons/robmed
[submodule "robmedExtra"]
	path = robmedExtra
	url = https://github.com/aalfons/robmedextra
[submodule "robustHD"]
	path = robustHD
	url = https://github.com/aalfons/robusthd
[submodule "simFrame"]
	path = simFrame
	url = https://github.com/aalfons/simframe
[submodule "sparseLTSEigen"]
	path = sparseLTSEigen
	url = https://github.com/aalfons/sparseltseigen
